# CoFrequency

In [1]:
import pandas as pd
import numpy as np

In [2]:
# constants
PATH = '../data/data.csv'

## Import Data

In [4]:
df = pd.read_csv(PATH)
df.shape

(300000, 8)

In [6]:
df.head()

,book_id,author_id,book_genre,reader_id,num_pages,book_rating,publisher_id,publish_year
0,1081,35,5,25566,590,8,37,2000
1,632,66,7,27930,207,2,47,2009
2,2037,56,6,12930,84,6,39,2003
3,1771,331,2,23323,382,3,16,2010
4,960,411,6,25357,274,10,33,2005

## Book Recommendation

In [ ]:
# build a recommendation of a book based on the cofrequency of ratings of other books
book = 1081

In [ ]:
class Recommender():
    def __init__(self, df, book_col):
        self.df = df
        self.col = book_col
        
    def normalize(self, dp):
        """
        parameters: dp (list)
        normalize datapoints to a certain bound
        """
        min_val=min(dp)
        if min_val < 0:
            dp = [x + abs(min_val) for x in dp]
        max_val = max(dp)
        return [x/max_val for x in dp]
    
    def ohe(self, df, col, new_name):
        """
        One Hot encoding: 
        Will convert a column in a dataset to multiple columns where each value in the new columns 
        will be binary correspoding to the dataset    
        """
        ohe_df= pd.get_dummies(df[col])
        feature_names = ohe_df.columns
        ohe_df.columns= [new_name+'_'+str(x) for x in feature_names]
        ohe_df.reset_index(drop=True, inplace=True)
        return ohe_df

    def cosine_sim(self, v1,v2):
        return dot(v1,v2)/(norm(v1)*norm(v2))

    def rec(self, df, song_id, n_rec):
        """
        df (dataframe): The dataframe
        song_id (string): Representing the song name
        n_rec (int): amount of rec user wants
        """
        inputVec = df.loc[song_id].values
        df['sim']= df.apply(lambda x: cosine_sim(inputVec,x.values), axis=1)
        return df.nlargest(columns='sim',n=n_rec)